.footer {
    background: #1d1d1d;
    padding: 20px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;

    div {
        margin: 10px;
    }
    a {
        text-decoration: none;
        color: #efefef;
    }
    .powered-by {
        margin-top: 10px;
        color: #efefef;
        vertical-align: middle;

        img {
            vertical-align: middle;
        }
    }
}
