$color: #ffffff;
.title-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    // background-image: url("../assets/hero.jpg");
    background: linear-gradient(
            0deg,
            rgba(black, 0.5),
            rgba(black, 0.4),
            rgba(black, 0.1)
        ),
        url("../assets/hero.jpg");
    background-position: 50% 00%;
    background-size: cover;
    color: $color;
    min-height: 100vh;
    margin-left: auto;
    .title {
        flex: 3;
    }
    h1 {
        // position: relative;
        // top: -100px;
        font-weight: 500;
        font-size: 15vw;
        margin-top: 100px;
        margin-bottom: 20px;
    }
    h2 {
        // position: relative;
        // top: -200px;
        font-weight: 500;
        font-size: 4.75vw;
        margin-top: 20px;
        display: inline;
    }
    // .address-lookup {
    $text-input-color: white;
    .search-box {
        padding: 40px;
        // display: inline !important;
        display: block;
        // background-color: rgba(black, 0.5);
        flex: 1;
        width: auto;
        ::placeholder{
            color:white;
        }
        .addressInput{
            padding: 24px;
            color: $text-input-color;
            font-size: 24px;
            outline: none;
            width: 25vw;
        }
        .button {
            background-color:#54B948;
            padding: 17px 35px 21px 35px;
            border-radius:1000px;
            font-size: 24px;
            font-weight: light; 
            font-family: inherit;
            color: white;
            outline: none;
            transition: ease 200ms;
        }
        .button:hover{
            box-shadow: 0 6px 18px 0 rgba(#000, 0.4);
            background-color: white;
            color: #54B948;
            cursor: pointer;
        }
    }
}
